__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.vscode/

outputs/plots/*
outputs/tables/*
outputs/logs/*
outputs/profiles/*
!outputs/plots/.gitkeep
!outputs/plots/archive/
!outputs/plots/archive/**
!outputs/tables/.gitkeep
!outputs/logs/.gitkeep
!outputs/profiles/.gitkeep
!outputs/profiles/archive/
!outputs/profiles/archive/**

project/plots/*
!project/plots/.gitkeep

Dispersion/results/*
!Dispersion/results/.gitkeep
